<!DOCTYPE html>
<html>
<head>
  <title>Trippr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= react_component 'Navbar', {current_user: current_user, form_authenticity_token: form_authenticity_token} %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
